* {
  padding:0;
  margin:0;
  box-sizing:border-box;
}

.about-sec {
	padding:20px 50px;
	background-color:#000;
}
.about-container {
	width:100%;
	margin:0 auto;
}
.about-row {
	display:flex;
	
}

.about-col {
	width:50%;
	
	
}
.about-content {
	padding-right:60px;
	margin-left:40px;
	width:90%;
}
.about-banner {
	
}
.about-banner img {
	width:100%;
	height:auto;
	
}
.about-heading h3 {
	font-size:18px;
	color:#b99271;
	font-weight:500;
	margin:15px 0;
	font-family: 'Poppins', sans-serif;
}
.about-heading h2 {
	
	color:#fff;
	font-weight:500;
    font-size:35px;
	line-height:1.2;
	font-family: 'Roboto Condensed', sans-serif;
}
.about-heading p {
	 font-weight:300;
    font-size:18px;
	padding-right:40px;
    margin: 35px 0 40px 0;
	color:#d1cbcbcf;
	word-spacing:2px;
	line-height:1.2;
	font-family: 'Poppins', sans-serif;
}
.about-profile {
	display:flex;
	align-items:center;
	background-color:#b99271;
	margin-top:30px;
}
.about-img img {
	width:100%;
	border-radius:50%;
	margin-top:0px;
	margin-left:2px;		
}
.about-profile {
	padding:15px;
	border-radius:8px;
}

.about-owner p {
	margin-top:0px;
	margin-left:25px;
	font-size:25px;
	font-style:italic;
	font-weight:500;
	line-height:1.3;
	color:#fff;
	word-spacing:3px;
	
}